.body{
	width:1000px;
  padding:20px 0;
  margin: 0 auto;
}
.body .body-title{
	padding:10px 0;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
}
.body .body-level{
	display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.body-level .body-content{
  padding: 15px 0;
  display: flex;
  width: 210px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  background-color: transparent;
  border-radius: 8px;
}
.body-level .body-content:hover{
	background-color: #FF7C6D;
}
.body-level .body-content:hover .body-description p{
	visibility:visible;
}
.body-level .body-content .body-picture{
	position: relative;
  background-color: #ecebeb;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-level .body-content .body-picture img{
	height: 80%;
}
.body-level .body-content .body-description{
	padding: 8px;
  text-align: center;
  font-size: 20px;
  color:#333;
  font-weight: 400;
}
.body-level .body-content .body-description a{
	color:#333;
  cursor: default;
}
.body-level .body-content .body-description p {
	visibility:hidden;
  font-size: 14px;
  padding: 5px 0;
  color: #616060;
}
.main{
	height:500px;
	width:100%;
  background-image: url('../img/global.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding:20px 0;
}
.main img{
	height:100%;
	padding: 0 50px;
}
.main ul{
	font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 10px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}
.main ul li{
	padding: 15px;
}
.main ul li a{
	color: #fff;
  cursor: default;
}
.main ul li:before{
	content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fb8f00;
  border-radius: 50%;
  margin-right: 20px;
}